In [196]:
import pandas as pd

In [ ]:
df=pd.read_csv('Movies.csv')

In [198]:
df.columns

Index(['Unnamed: 0', 'ID', 'Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes',
       'Netflix', 'Hulu', 'Prime Video', 'Disney+', 'Type', 'Directors',
       'Genres', 'Country', 'Language', 'Runtime'],
      dtype='object')

In [199]:
df

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16739,16740,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,0,0,0,1,0,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16740,16740,16741,The Poof Point,2001,7+,4.7,NaN,0,0,0,1,0,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0
16741,16741,16742,Sharks of Lost Island,2013,NaN,5.7,NaN,0,0,0,1,0,Neil Gelinas,Documentary,United States,English,NaN
16742,16742,16743,Man Among Cheetahs,2017,NaN,6.6,NaN,0,0,0,1,0,Richard Slater-Jones,Documentary,United States,English,NaN
16743,16743,16744,In Beaver Valley,1950,NaN,NaN,NaN,0,0,0,1,0,James Algar,"Documentary,Short,Family",United States,English,32.0

In [200]:
df.info()   #age,IMDB-1,Rotten tomatoes , Directors , Country , Language ,Runtime

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16744 entries, 0 to 16743
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       16744 non-null  int64
 1   ID               16744 non-null  int64
 2   Title            16744 non-null  object
 3   Year             16744 non-null  int64
 4   Age              7354 non-null   object
 5   IMDb             16173 non-null  float64
 6   Rotten Tomatoes  5158 non-null   object
 7   Netflix          16744 non-null  int64
 8   Hulu             16744 non-null  int64
 9   Prime Video      16744 non-null  int64
 10  Disney+          16744 non-null  int64
 11  Type             16744 non-null  int64
 12  Directors        16018 non-null  object
 13  Genres           16469 non-null  object
 14  Country          16309 non-null  object
 15  Language         16130 non-null  object
 16  Runtime          16152 non-null  float64
dtypes: float64(2), int64(8), object(7)
memory usage: 2.2+ MB

In [201]:
df.duplicated().any()

np.False_

In [202]:
a=df['Age'].mode()
im=df['IMDb'].mean()
rt=df['Rotten Tomatoes'].mode()
ct=df['Country'].mode()
DT=df['Directors'].mode()
lt=df['Language'].mode()
rt=df['Runtime'].mean()

In [ ]:
df['Age']=df['Age'].fillna(a)
df['IMDb']=df['IMDb'].fillna(im)
df['Rotten Tomatoes']=df['Rotten Tomatoes'].fillna(rt)
df['Country']=df['Country'].fillna(ct)
df['Directors']=df['Directors'].fillna(DT)
df['Language']=df['Language'].fillna(lt)
df['Runtime']=df['Runtime'].fillna(rt)

In [204]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16744 entries, 0 to 16743
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       16744 non-null  int64
 1   ID               16744 non-null  int64
 2   Title            16744 non-null  object
 3   Year             16744 non-null  int64
 4   Age              7354 non-null   object
 5   IMDb             16744 non-null  float64
 6   Rotten Tomatoes  16744 non-null  object
 7   Netflix          16744 non-null  int64
 8   Hulu             16744 non-null  int64
 9   Prime Video      16744 non-null  int64
 10  Disney+          16744 non-null  int64
 11  Type             16744 non-null  int64
 12  Directors        16018 non-null  object
 13  Genres           16469 non-null  object
 14  Country          16309 non-null  object
 15  Language         16130 non-null  object
 16  Runtime          16744 non-null  float64
dtypes: float64(2), int64(8), object(7)
memory usage: 2.2+ MB

In [205]:
df=df.drop(columns=['Unnamed: 0'])

In [206]:
df['Rotten Tomatoes'] = df['Rotten Tomatoes'].str.rstrip('%').astype(float) / 10

df

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,1,Inception,2010,13+,8.800000,8.7,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.000000
1,2,The Matrix,1999,18+,8.700000,8.7,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.000000
2,3,Avengers: Infinity War,2018,13+,8.500000,8.4,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.000000
3,4,Back to the Future,1985,7+,8.500000,9.6,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.000000
4,5,"The Good, the Bad and the Ugly",1966,18+,8.800000,9.7,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16740,The Ghosts of Buxley Hall,1980,NaN,6.200000,NaN,0,0,0,1,0,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.000000
16740,16741,The Poof Point,2001,7+,4.700000,NaN,0,0,0,1,0,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.000000
16741,16742,Sharks of Lost Island,2013,NaN,5.700000,NaN,0,0,0,1,0,Neil Gelinas,Documentary,United States,English,93.413447
16742,16743,Man Among Cheetahs,2017,NaN,6.600000,NaN,0,0,0,1,0,Richard Slater-Jones,Documentary,United States,English,93.413447
16743,16744,In Beaver Valley,1950,NaN,5.902751,NaN,0,0,0,1,0,James Algar,"Documentary,Short,Family",United States,English,32.000000

In [207]:
platform_df = pd.melt(df,id_vars=['Title','IMDb', 'Rotten Tomatoes'],value_vars=['Netflix','Hulu','Prime Video','Disney+']
        ,var_name='Platform',value_name='Availability')

In [208]:
platform_df = platform_df.loc[platform_df['Availability'] == 1]
platform_df

,Title,IMDb,Rotten Tomatoes,Platform,Availability
0,Inception,8.800000,8.7,Netflix,1
1,The Matrix,8.700000,8.7,Netflix,1
2,Avengers: Infinity War,8.500000,8.4,Netflix,1
3,Back to the Future,8.500000,9.6,Netflix,1
4,"The Good, the Bad and the Ugly",8.800000,9.7,Netflix,1
...,...,...,...,...,...
66971,The Ghosts of Buxley Hall,6.200000,NaN,Disney+,1
66972,The Poof Point,4.700000,NaN,Disney+,1
66973,Sharks of Lost Island,5.700000,NaN,Disney+,1
66974,Man Among Cheetahs,6.600000,NaN,Disney+,1
66975,In Beaver Valley,5.902751,NaN,Disney+,1

# Data Analysis

1. find the no of movies available in the dataset

In [209]:
df.shape[0]

16744

2. find the total movies casted in Netflix

In [210]:
df['Netflix'].sum()

df.loc[df['Netflix'] == 1, 'Netflix'].count()

df.loc[df['Netflix'] == 1].shape[0]

3560

In [211]:
df['tot_plts']=df[['Netflix', 'Hulu', 'Prime Video', 'Disney+']].sum(axis=1)
df

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime,tot_plts
0,1,Inception,2010,13+,8.800000,8.7,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.000000,1
1,2,The Matrix,1999,18+,8.700000,8.7,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.000000,1
2,3,Avengers: Infinity War,2018,13+,8.500000,8.4,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.000000,1
3,4,Back to the Future,1985,7+,8.500000,9.6,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.000000,1
4,5,"The Good, the Bad and the Ugly",1966,18+,8.800000,9.7,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.000000,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16740,The Ghosts of Buxley Hall,1980,NaN,6.200000,NaN,0,0,0,1,0,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.000000,1
16740,16741,The Poof Point,2001,7+,4.700000,NaN,0,0,0,1,0,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.000000,1
16741,16742,Sharks of Lost Island,2013,NaN,5.700000,NaN,0,0,0,1,0,Neil Gelinas,Documentary,United States,English,93.413447,1
16742,16743,Man Among Cheetahs,2017,NaN,6.600000,NaN,0,0,0,1,0,Richard Slater-Jones,Documentary,United States,English,93.413447,1
16743,16744,In Beaver Valley,1950,NaN,5.902751,NaN,0,0,0,1,0,James Algar,"Documentary,Short,Family",United States,English,32.000000,1

get the platform wise no of movies

In [212]:
df[['Netflix', 'Hulu', 'Prime Video', 'Disney+']].sum()

platform_df.value_counts('Platform')
platform_df['Platform'].value_counts()

Platform
Prime Video    12354
Netflix         3560
Hulu             903
Disney+          564
Name: count, dtype: int64

get the plt wise highest imdb and rotten tomatoes

In [213]:
platform_df.groupby('Platform').agg({'IMDb': 'mean', 'Rotten Tomatoes': 'mean'}).round(1)

             IMDb  Rotten Tomatoes
Platform
Disney+       6.4              6.4
Hulu          6.1              6.7
Netflix       6.2              6.6
Prime Video   5.8              6.4